body {
    margin: 0;
    padding: 0;
}

.general-content {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.right-column {
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
}

.left-column { 
    background-image: url("halie-west.jpg");
    width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    justify-content: center;
}


.header-content {
    background-color: lightgrey;
    height: 40vh;
}



form-left-column,
form-right-column {
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
    height: 30vh;
}

.button-content {
    height: 30vh;
}

/* .input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input
{
    border: solid 1px #E5E7EB;
}

input:focus {
    border: solid 3px blue;
    box-shadow: 2px inset;
}

button {
    background-color: #596D48;
    font: white;
} */