body {
    margin: 0;
    padding: 0;
}

.general-content {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.left-column { 
    background-image: url("halie-west.jpg");
    width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    justify-content: center;
}


.right-column {
    display: flex;
    width: 60vw;
    flex-direction: column;
    background-color: #fafafa;
}

.header-content {
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5px;
}

.form-content {
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-color: white;
    width: 60%;
    margin-left: 50px;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: row;
}

.button-content {
    height: 30vh;
}

form-left-column,
form-right-column {
    display: flex;
    flex-direction: column;
}


.input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input
{
    border: solid 1px #E5E7EB;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

input:focus {
    border: solid 3px blue;
    box-shadow: 2px inset;
}

button {
    background-color: #596D48;
    font: white;
}