@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-Bold, sans-serif;
    display: flex;
    flex-direction: column;
}

.forImage {
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.semi-transparent {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(10,10,10,0.5);
    align-items: center;
    font-size: 25px;
}

.forFooter {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 60vh;
    width: 100%;
}

.a-footer {
    color: white;
}

.p-footer {
    font-size: 12px;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    background-color: #fafafa;
}

.first {
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}

.second {
    height: 30vh;
    background-color: white;
    justify-content: space-between;
    box-shadow: 2px 3px #e5e7eb;
}

.form-main-div {
    display: flex;
    margin-left: 50px;
    width: 60%;
    justify-content: space-between;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    width: 200px;
    border: 1px solid #e5e7eb;
    height: 20px;
    border-radius: 5px;
}

input:focus {
    border: 2px solid blue;
}

input:invalid {
    border: 1px solid red;
}

label {
    font-size: 15px;
    color: #6c6e71;
}

#error-message {
    color: red;
    font-size: 10px;
    margin: 1px;
}


.btn-green {
    background-color: #596d48;
    color: white;
    border: 1px solid #596d48;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    font-weight: bolder;
    font-size: small;
}

.third {
    margin-left: 20px;
    margin-top: 10px;
}

.hyperlink {
    margin-left: 20px;
    margin-top: 10px;
}

.login {
    color: #596d48;
    text-decoration: none;
    font-weight: bold;
}

